$primary: #AA60C8;
$secondary: #AA60C8;
$tertiary: #B771E5;
$background: #EAEAEA;
$background-secondary: #F5F5F0;
$text-title: #333333;
$text-primary: #666666;
$primary-dark: #212121; //#d8b649
$secondary-dark: #8E4B32; 
$background-dark: #242728; 
$background-secondary-dark: #333333; 
$text-title-dark: #F1F1F1; 
$text-primary-dark: #BBBBBB;

// $primary: #b55be4;
// $_unused: #7A1CAC;
// $purple: #7E60BF;
// $secondary: #2E073F;
// $background: #151515;
// $background-secondary: #222;
// $tertiary-purple: #EBD3F8;
// $primary-gray: #454545;
// $primary-blue: #00adb5;
// $primary-red: #ff0032;
// $primary-white: #fdf6f0;